<div class="header">
    <div class="ecommerce-logo">
        Ecommerce
    </div>

    <div class="nav">
        <div class="top-bar">
            <a class="nav-link" href="#">Help</a>
            <a class="nav-link" href="#">Exchange & Returns</a>
            <a class="nav-link" href="#">Order Tracker</a>
            <a class="nav-link" href="#">Signup / Login</a>
        </div>

        <div class="bottom-bar">
            <div class="menu">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="#">Products</a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">Contact</a>
            </div>

            <div class="search-bar">
                <input type="text" class="search-box" placeholder="Search">
                <button class="search-btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
