<div class="product-container">
    <!-- <p>product-list works!{{ name }} {{ price }} {{ getDiscountedPrice().toFixed(2) }}</p>
    <input type="text" name="" id="" [value]="name" (input)="onNameChange($event)"><br>
    <p>name = {{ name }}</p>
    <button [disabled]="!(inStock > 0)">Buy now</button>
    <button [disabled]="(addToCart === 0)" (click)="decrementValue()">-</button>
    <span>{{ addToCart }}</span>
    <button [disabled]="(addToCart === inStock)" (click)="incrementValue()">+</button> -->
    <app-search></app-search>
    <product-list></product-list>
    <!-- <div *ngFor="let item of listOfString">
        <p>{{ item }}</p>
    </div> -->
</div>
