<app-filter 
  [all]="products.length" 
  [men]="menProducts" 
  [women]="womenProducts" 
  [kids]="kidsProducts"
  (selectedFilterChange)="onFilterChange($event)"
></app-filter>
<div class="products-container">
    <div *ngFor="let product of products; let i = index" (click)="selectedProduct = product">
      <product-card 
        [product]="product"
        *ngIf="(selectedFilterBtn === 'all' || product.gender === selectedFilterBtn) && (searchText === '' || product.name.toLowerCase().includes(searchText))"
      ></product-card>
    </div>
</div>
